body{
    background: linear-gradient(rgb(0, 0, 0),rgb(169, 187, 169));
    background: cover fixed;
    justify-content:center;
    align-items:center;
}

h1{
    color: white;
}

table{
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:0 8px 32px rgba(0,0,0,0.2);
}

label{
    color:white;
    font-size:16px;
    text-shadow:1px 1px 2px rgba(0,0,0,0.7);
}

input{
    background:rgba(255,255,255,0.2);
    border:1px solid rgba(255,255,255,0.3);
    border-radius:4px;
    padding:5px;
    color:white;
    margin-top:5px;
}
